body {
    background-color: #f47a35;
    background-image: url("chill.jpg");
    color: white;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 20px;
}

form {
    border: 15px;
}

#flex-grid {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #addaff;
    border-radius: 25px;
    padding: 5px;
    border: 15px;
     border: 4px solid #f47a35; */
}

#flex-grid div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}

.box {
    display: flex;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: 5px;
    padding: 5px;
    
    text-align: center;
    border-radius: 10px;
     background-color: #008dff;

    
    /* stolen from https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

}

.box: {
    background-color: green;
}
